<div class="block-area shortcut-area">
    <a class="shortcut tile" href="">
        <img src="../img/icon/Newspaper_32.png" alt="">
        <!--<i class="fa fa-info-circle fa-4x"></i>-->
        <small class="t-overflow">资讯</small>
    </a>
    <a class="shortcut tile" href="">
        <img src="../img/icon/gittip.png" class="invertPNGColor" alt="">
        <!--<i class="fa fa-globe fa-4x"></i>-->
        <small class="t-overflow">归属圈</small>

    </a>
    <a class="shortcut tile" ng-click="pageControl('infoStation')">
        <img src="../img/icon/information35.png" class="invertPNGColor" alt="">
        <!--<i class="fa fa-info-circle fa-4x"></i>-->
        <small class="t-overflow">信息站</small>
    </a>
    <a class="shortcut tile" ng-click="pageControl('friends')">
        <img src="../img/icon/group41.png" class="invertPNGColor" alt="">
        <!--<i class="fa fa-users fa-4x"></i>-->
        <small class="t-overflow">朋友圈</small>
    </a>
    <a class="shortcut tile" href="">
        <img src="../img/icon/share15.png" class="invertPNGColor" alt="">
        <!--<i class="fa fa-plus-square fa-4x"></i>-->
        <small class="t-overflow">发表</small>
    </a>
</div>